*{
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#div_top_bar{
    padding: 10px 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #090451;
    color: #eee;
}
#div_top_bar h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#btn_logout{
    position: fixed;
    right: 10px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(7, 92, 218);
    color: rgb(252, 247, 247);
    transition: 0.3s ease;
}
#btn_logout:hover{
    background-color: rgb(22, 85, 179);
    color: white;
}

#div_content{
    padding: 10px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; 
}
.camp_link{
    text-decoration: none;
    color: black;
}
.camp_card{
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px gray;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}
.camp_card:hover{
    transform: scale(1.01);
    box-shadow: 2px 4px 8px gray;
}